name: Keep Repo Alive

on:
  schedule:
    # Runs once a day at 00:00 UTC
    - cron: "0 0 1 * *"

  workflow_dispatch:

jobs:
  keepalive:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Update keepalive file
        run: |
         echo "$(date -u)" >> latest_run.txt

      - name: Commit and push if changed
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add latest_run.txt
          git diff --cached --quiet || git commit -m "chore: keep repo active"
          git push
